[submodule "PGM-index"]
	path = PGM-index
	url = https://github.com/tomatolog/PGM-index.git
[submodule "RadixSpline"]
	path = RadixSpline
	url = https://github.com/tomatolog/RadixSpline.git
[submodule "cpp-btree"]
	path = cpp-btree
	url = https://github.com/tomatolog/cpp-btree.git
